body{
    background-color:#E1E5EE;
    
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
    width: 100vW;
    place-items: center;
    align-items: stretch;
    height: 100%;

}
#content article{
    background-color: white;
}
nav{
    flex-basis: 100%;
    margin: 0 auto;
    padding: 0;
    flex-grow: 1;
}

section{
    flex-basis: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 0;
    flex-grow: 1;
}
main article a{
    text-decoration: none;
    font-size:1rem;

}
#category{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    position: relative;
    height: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    column-gap: 1rem;
    margin: 0;
    padding: 0;
    position: relative;

}
#category li{
    display: inline;
    flex-basis: 5%;
    margin: 0 auto;
    flex-grow:1;
    height: 100%;
}


nav ul li{
    background-color: #2A324B;
}

#category li a{
    background-color: #2A324B;
}



nav a {
    display: inline-block;
    padding: 1rem;
    padding-top: calc(1rem + 4px);
    text-decoration: none;
    text-transform: uppercase;
    box-sizing: border-box;
}

   
#container{
    display: inline-block;
}
#content{
    display:inline-block;
    background-color: #fff;
    align-items: stretch;

}

#content a{
    color: #000;
}
.hidden{
    display:none;
}

nav li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    position: relative;
    height: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    column-gap: 1rem;
    min-height: 15vw;
}
li a{
    color: white;
    
}

#content{
    padding: 5rem;

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

